<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <style>
  @media print {
    .item {
      page-break-after: always;
    }
  }

  ul {
    list-style-type: none;
  }

  dt {
    font-weight: 700;
    float: left;
    padding-right: 10px;
  }
  dt:after {
    content: ":";
  }
  </style>
</head>
<body>

  <ul id="items">
    {% for item in items -%}
      <li class="item">
        <h2>{{ item["Description"] }}</h2>
        <dl>
          {%- for column in columns -%}
            {%- if item[column] != null -%}
              <dt>{{ column }}</dt>
              <dd>{{ item[column] }}</dd>
            {%- endif -%}
          {%- endfor -%}
        </dl>
      </li>
    {%- endfor %}
  </ul>

</body>
</html>